body {
  background-color: #222;
  font-family: sans-serif;
}

#burger-menu {
  position: relative;
  margin: 200px auto;
  width: 100px;
}

#burger {
  cursor: pointer;
  display: block;
}

#burger span {
  background: #eee;
  display: block;
  width: 100px;
  height: 14px;
  margin-bottom: 10px;
  position: relative;
  top: 0;
  transition: all ease-in-out 0.3s;
}

#burger-menu.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

#burger-menu.open span:nth-child(3) {
  transform: rotate(45deg);
  top: -24px;
}

#burger-menu.open span:nth-child(1) {
  transform: rotate(-45deg);
  top: 24px;
}

#menu {
  margin: 0 auto;
  font-size: 1.5em;
  position: relative;
  text-align: left;
  list-style: none; 
  border: 1px solid white;
}

#menu ul {
  list-style: none;
  text-decoration: none;
}

#menu ul li {
  left: 0;
}

#menu ul li a {
  text-decoration: none;
  color: white;
}